dev/pug/pages/form-validate-ajax.pug
.fv.form-validate-ajax
	form(action="")
		.fv__heading
			| Форма валидации
		.fv__error Ошибка
		.fv__block.required--input.required
			label
				span Текстовое поле ввода
					|:
				input(type='text' data-length='7')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--input.num--inset.required
			label
				span Цифровое поле ввода
				| :
				input(type='text' data-length='1')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--password.required
			.password-first
				label
					span Введите пароль:
					| :
					input(type='password' required minlength="4" maxlength="8")
					.password-control
				.fv__block-error Поле заполнено некорректно!
				.fv__block-succes Поле заполнено корректно!
				.fv__block-not-equally Пароли не совпадают!
			.password-second(style="display: none;")
				label
					span Повторите пароль:
					| :
					input(type='password' required minlength="4" maxlength="8")
					.password-control
				.fv__block-error Поле заполнено некорректно!
				.fv__block-succes Поле заполнено корректно!
				.fv__block-not-equally Пароли не совпадают!

		.fv__block.input--mask--required.required--date.required
			label
				span Цифровое поле ввода (дата рождения, обязательное)
				| :
				input(type='text' class='date-picker' data-mask="99.99.9999" data-lang="ru" data-src='./img/svg/post.svg' data-template='dd.mm.yy')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask
			label
				span Цифровое поле ввода (дата рождения, НЕ обязательное)
				| :
				input(type='text' class='date-picker' data-mask="99.99.9999" data-lang="ru" data-src='./img/svg/post.svg' data-template='dd.mm.yy')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask--required.required
			label
				span Цифровое поле ввода (телефон, обязательное)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask
			label
				span Цифровое поле ввода, (телефон, НЕобязательное)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.mask-input-control
			label
				span Цифровое поле ввода, (телефон, НЕобязательное, но с проверкой)
				| :
				input(type='tel' data-mask='+375 (99) 999-99-99' data-placeholder='+375 (__) ___-__-__' placeholder='+375 (__) ___-__-__')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask.input--mask--required.required.js-phone
			label
				span Телефон (обязательное)
				| :
				div.input-country
					select.styler.js-value
						option(data-mask='(99) 999-99-99' data-value='(99) 999-99-99' data-placeholder='(__) ___-__-__' data-img="./img/svg/belarus.svg" selected) +375
						option(data-mask='(999) 999-99-99' data-value='(999) 999-99-99' data-placeholder='(___) ___-__-__' data-img="./img/svg/russia.svg") +7
						option.no-mask Другая
					input(type='tel' data-mask='(99) 999-99-99' data-placeholder='(__) ___-__-__' placeholder='(__) ___-__-__').input--main.js-value
					input(type='tel').input--hidden
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.input--mask.js-phone
			label Телефон (НЕобязательное)
				div.input-country
					select.styler.js-value
						option(data-mask='(99) 999-99-99' data-value='(99) 999-99-99' data-placeholder='(__) ___-__-__' data-img="./img/svg/belarus.svg") +375
						option(data-mask='(999) 999-99-99' data-value='(999) 999-99-99' data-placeholder='(___) ___-__-__' data-img="./img/svg/russia.svg" selected) +7
						option.no-mask Другая
					input(type='tel' data-mask='(99) 999-99-99' data-placeholder='(__) ___-__-__' placeholder='(__) ___-__-__').input--main.js-value
					input(type='tel').input--hidden
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--email.required
			label
				span Текстовое поле ввода (email, обязательное)
				| :
				input(type='email')
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.email-input-control
			label
				span Текстовое поле ввода (email, НЕ обязательное, но с проверкой)
				| :
				input(type='email')
			.fv__block-succes Поле заполнено корректно!

		.fv__block.radio--required
			span Группа раидокнопок:
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			label
				input(type="radio" name="radio1").styler
				span Радиокнопка
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--check
			span Группа одиночных чекбоксов:
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			label
				input(type="checkbox").styler
				span Одиночный чекбокс
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required.required--select
			label
				span Выпадающий список:
				br
				select.styler
					option(disabled selected value="Not selected") Не выбрано
					option(value="1") Опция 1
					option(value="2") Опция 2
					option(value="3") Опция 3
					option(value="4") Опция 4
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.check-more
			span Группа чекбоксов:
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			label
				input(type="checkbox").styler
				span Групповой чекбокс
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--textarea
			label
				span Поле для ввода текста
				br
				textarea(name="" cols="30" rows="10")
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--file.required
			label
				span Прикрепить файл (один)
				| :
				br
				input(type="file").styler
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!

		.fv__block.required--file--multiple.required(data-max="5")
			label
				span Прикрепить файл (несколько)
				| :
				br
				input(type="file" data-number="" data-placeholder="Выберите файл" multiple).styler
			.fv__block-error Поле заполнено некорректно!
			.fv__block-succes Поле заполнено корректно!
			.input-file-list

		.fv__block.fv__block-sbmt.required
			input(type='submit' value='Отправить' class='required--sbmt')

build/form-validate-ajax.html

<div class="fv form-validate-ajax">
  <form action="">
    <div class="fv__heading">Форма валидации</div>
    <div class="fv__error">Ошибка</div>
    <div class="fv__block required--input required">
      <label><span>
          Текстовое поле ввода:</span>
        <input type="text" data-length="7"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--input num--inset required">
      <label><span>Цифровое поле ввода</span>:
        <input type="text" data-length="1"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--password required">
      <div class="password-first">
        <label><span>Введите пароль:</span>:
          <input type="password" required="required" minlength="4" maxlength="8"/>
          <div class="password-control"></div>
        </label>
        <div class="fv__block-error">Поле заполнено некорректно!</div>
        <div class="fv__block-succes">Поле заполнено корректно!</div>
        <div class="fv__block-not-equally">Пароли не совпадают!</div>
      </div>
      <div class="password-second" style="display: none;">
        <label><span>Повторите пароль:</span>:
          <input type="password" required="required" minlength="4" maxlength="8"/>
          <div class="password-control"></div>
        </label>
        <div class="fv__block-error">Поле заполнено некорректно!</div>
        <div class="fv__block-succes">Поле заполнено корректно!</div>
        <div class="fv__block-not-equally">Пароли не совпадают!</div>
      </div>
    </div>
    <div class="fv__block input--mask--required required--date required">
      <label><span>Цифровое поле ввода (дата рождения, обязательное)</span>:
        <input class="date-picker" type="text" data-mask="99.99.9999" data-lang="ru" data-src="./img/svg/post.svg" data-template="dd.mm.yy"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block input--mask">
      <label><span>Цифровое поле ввода (дата рождения, НЕ обязательное)</span>:
        <input class="date-picker" type="text" data-mask="99.99.9999" data-lang="ru" data-src="./img/svg/post.svg" data-template="dd.mm.yy"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block input--mask--required required">
      <label><span>Цифровое поле ввода (телефон, обязательное)</span>:
        <input type="tel" data-mask="+375 (99) 999-99-99" data-placeholder="+375 (__) ___-__-__" placeholder="+375 (__) ___-__-__"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block input--mask">
      <label><span>Цифровое поле ввода, (телефон, НЕобязательное)</span>:
        <input type="tel" data-mask="+375 (99) 999-99-99" data-placeholder="+375 (__) ___-__-__" placeholder="+375 (__) ___-__-__"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block mask-input-control">
      <label><span>Цифровое поле ввода, (телефон, НЕобязательное, но с проверкой)</span>:
        <input type="tel" data-mask="+375 (99) 999-99-99" data-placeholder="+375 (__) ___-__-__" placeholder="+375 (__) ___-__-__"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block input--mask input--mask--required required js-phone">
      <label><span>Телефон (обязательное)</span>:
        <div class="input-country">
          <select class="styler js-value">
            <option data-mask="(99) 999-99-99" data-value="(99) 999-99-99" data-placeholder="(__) ___-__-__" data-img="./img/svg/belarus.svg" selected="selected">+375</option>
            <option data-mask="(999) 999-99-99" data-value="(999) 999-99-99" data-placeholder="(___) ___-__-__" data-img="./img/svg/russia.svg">+7</option>
            <option class="no-mask">Другая</option>
          </select>
          <input class="input--main js-value" type="tel" data-mask="(99) 999-99-99" data-placeholder="(__) ___-__-__" placeholder="(__) ___-__-__"/>
          <input class="input--hidden" type="tel"/>
        </div>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block input--mask js-phone">
      <label>Телефон (НЕобязательное)
        <div class="input-country">
          <select class="styler js-value">
            <option data-mask="(99) 999-99-99" data-value="(99) 999-99-99" data-placeholder="(__) ___-__-__" data-img="./img/svg/belarus.svg">+375</option>
            <option data-mask="(999) 999-99-99" data-value="(999) 999-99-99" data-placeholder="(___) ___-__-__" data-img="./img/svg/russia.svg" selected="selected">+7</option>
            <option class="no-mask">Другая</option>
          </select>
          <input class="input--main js-value" type="tel" data-mask="(99) 999-99-99" data-placeholder="(__) ___-__-__" placeholder="(__) ___-__-__"/>
          <input class="input--hidden" type="tel"/>
        </div>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--email required">
      <label><span>Текстовое поле ввода (email, обязательное)</span>:
        <input type="email"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block email-input-control">
      <label><span>Текстовое поле ввода (email, НЕ обязательное, но с проверкой)</span>:
        <input type="email"/>
      </label>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block radio--required"><span>Группа раидокнопок:</span>
      <label>
        <input class="styler" type="radio" name="radio1"/><span>Радиокнопка</span>
      </label>
      <label>
        <input class="styler" type="radio" name="radio1"/><span>Радиокнопка</span>
      </label>
      <label>
        <input class="styler" type="radio" name="radio1"/><span>Радиокнопка</span>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--check"><span>Группа одиночных чекбоксов:</span>
      <label>
        <input class="styler" type="checkbox"/><span>Одиночный чекбокс</span>
      </label>
      <label>
        <input class="styler" type="checkbox"/><span>Одиночный чекбокс</span>
      </label>
      <label>
        <input class="styler" type="checkbox"/><span>Одиночный чекбокс</span>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required required--select">
      <label><span>Выпадающий список:</span><br/>
        <select class="styler">
          <option disabled="disabled" selected="selected" value="Not selected">Не выбрано</option>
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
          <option value="3">Опция 3</option>
          <option value="4">Опция 4</option>
        </select>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block check-more"><span>Группа чекбоксов:</span>
      <label>
        <input class="styler" type="checkbox"/><span>Групповой чекбокс</span>
      </label>
      <label>
        <input class="styler" type="checkbox"/><span>Групповой чекбокс</span>
      </label>
      <label>
        <input class="styler" type="checkbox"/><span>Групповой чекбокс</span>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--textarea">
      <label><span>Поле для ввода текста</span><br/>
        <textarea name="" cols="30" rows="10"></textarea>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--file required">
      <label><span>Прикрепить файл (один)</span>:<br/>
        <input class="styler" type="file"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
    </div>
    <div class="fv__block required--file--multiple required" data-max="5">
      <label><span>Прикрепить файл (несколько)</span>:<br/>
        <input class="styler" type="file" data-number="" data-placeholder="Выберите файл" multiple="multiple"/>
      </label>
      <div class="fv__block-error">Поле заполнено некорректно!</div>
      <div class="fv__block-succes">Поле заполнено корректно!</div>
      <div class="input-file-list"></div>
    </div>
    <div class="fv__block fv__block-sbmt required">
      <input class="required--sbmt" type="submit" value="Отправить"/>
    </div>
  </form>
</div>
